
<div class="profil-card">
  <%= link_to edit_user_path, class: 'edit-link' do %>
    <i class="fas fa-edit"></i>
  <% end %>
  <div class="profil-card-left">
    <div class="picture">
      <% if current_user.avatar.url %>
        <%= image_tag @user.avatar.url %>
      <% end %>
    </div>
    <div class="user-info">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <h3><%= @user.title %></h3>
      <h4><%= @user.city %></h4>
    </div>
  </div>
  <span class="line"></span>
  <div class="profil-card-right">
    <p><%= @user.description %></p>
  </div>
</div>

<%= link_to 'Créer un projet', new_user_project_path(@user)  %>

<% @projects.each do |project| %>
<h1> <%= project.name %> </h1>
<p><%= project.description %></p>
<% end %>







