
<div id="user-show-wrap">
  <%= render 'shared/user-card', user: @user %>

<div id="user-show-projects-wrap">

  <div class="user-show-list-top">
    <h2>Projets:</h2>
    <% if @user == current_user %>
      <%= link_to 'Créer un projet', new_project_path, class: 'button-select'  %>
    <% end %>
  </div>

  <div id="user-show-projects">

    <% @projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <%= render 'shared/project-card', project: project %>
      <% end %>
    <% end %>
  </div>

</div>

  <div id="user-show-skills-wrap">
    <div class="user-show-list-top">
      <h2>Compétences:</h2>
      <% if @user == current_user %>
        <%= link_to 'Editer mes compétences', skills_path, class: 'button-select' %>
      <% end %>
    </div>

    <% if @user.skills.any? %>
      <% @user.skills.each do |skill| %>
        <%= render 'shared/skill-card', skill: skill %>
      <% end %>
    <% end %>
  </div>
</div>









