
<div class="profil-card">
  <%= link_to edit_user_path, class: 'edit-link' do %>
    <i class="fas fa-edit"></i>
  <% end %>
  <div class="profil-card-left">
    <div class="picture">
        <%= image_tag(@user.photo) if @user.photo.attached? %>
    </div>
    <div class="user-info">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <h3><%= @user.title %></h3>
      <h4><%= @user.city %></h4>
    </div>
  </div>
  <span class="line"></span>
  <div class="profil-card-right">
    <p><%= @user.description %></p>
  </div>
</div>

<%= link_to 'Créer un projet', new_project_path  %>

<% @projects.each do |project| %>
  <%= link_to project_path(project) do %>
    <h1> <%= project.name %> </h1>
  <% end %>
  <p><%= project.description %></p>
  <p><%= project.category.category %></p>
<% end %>








