<div class="comment-card">
  <%= image_tag(comment.user.photo) %>
  <div class="comment-info-wrap">
    <div class="comment-info">
      <h2><%= comment.user.full_name %></h2>
      <p>Il y a <%= time_ago_in_words(comment.created_at) %></p>
    </div>
    <div class="comment">
      <p><%= comment.comment %></p>
    </div>

    <%= form_for [comment, answer] do |f| %>
      <div class="answer-form">
        <div class="field">
          <%= f.text_field :answer, placeholder: 'Ecrire une réponses', class: 'answer-input' %>
        </div>

        <div class="actions">
          <%= f.submit "Valider", id: 'button-valid'%>
        </div>
      </div>
    <% end %>

    <div class="answers-wrap">
      <% if comment.answers.any? %>
          <% comment.answers.each do |answer| %>
            <%= render 'shared/answer-card', answer: answer %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>








