<div id="project-card-wrap">
  <div class="project-card">
    <div class="project-info-image-wrap">
      <%= image_tag(project.images[0]) %>
      <div class="project-info">
        <div class="project-info">
          <h1> <%= project.name %> </h1>
          <h4><%= project.category.category %></h4>
        </div>
        <div class="project-description">
          <p><%= project.description %></p>
        </div>
      </div>


    </div>
    <div class="project-vote">
      <p><%= project.votes.count %></p>
    </div>
  </div>
</div>
