

<div class="user-card-wrap">
    <% if @user == current_user %>
      <%= link_to edit_user_path, class: 'edit-link' do %>
        <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
  <div class="user-card">
    <%= image_tag(user.photo) if user.photo.attached? %>
    <div class="user-info-wrap">
      <div class="user-info">
        <h1> <%= user.full_name %> </h1>
        <h3> <%= user.title %> </h3>
        <div class="user-skill">
          <% if user.skills.any? %>
            <% user.skills.each do |skill| %>
              <h4><%= skill.title %></h4>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="user-description">
        <p> <%= user.description %> </p>
      </div>
    </div>
  </div>
</div>
