<%= form_tag root_path, role: 'search', method: :get do %>
  <%= text_field_tag :q, params[:q] %>
  <%= button_tag "search" %>
<% end %>


<% @projects.each do |project| %>
  <%= link_to project_path(project) do %>
    <h1> <%= project.name %> </h1>
  <% end %>
  <p><%= project.description %></p>
  <p><%= project.category.category %></p>
<% end %>

hellooo
