
<div id="home-wrap">
  <div id="projects-home-wrap">

    <div class="list-top">
      <h2>Les meilleurs idées du moment :</h2>
      <%= link_to "Voir plus", projects_path, class: 'button-select' %>
    </div>

    <div id="projects-home">
      <% @projects.each do |project| %>
        <%= link_to project_path(project) do %>
          <%= render 'shared/project-card', project: project %>
        <% end %>
      <% end %>
    </div>

    <div class="list-top">
      <h2>Les nouvelles idées :</h2>
      <%= link_to "Voir plus", projects_path, class: 'button-select' %>
    </div>



    <div id="projects-home">
      <% @projects_creation_date.each do |project| %>
        <%= link_to project_path(project) do %>
          <%= render 'shared/project-card', project: project %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="users-home-wrap">

    <div class="list-top">
      <h2>Les entrepreneur du moment :</h2>
      <%= link_to "Voir plus", users_path, class: 'button-select' %>
    </div>


    <div id="users-home">
      <% @users.each do |user| %>
        <%= link_to user_path(user) do %>
          <%= render 'shared/small-user-card', user: user %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



