<div id="projects-index-page-wrap">

  <div id="search-area-wrap">

    <h2>Rechercher:</h2>

      <%= form_tag projects_path, role: 'search', method: :get, class: 'search-area' do |f| %>

        <div class="search-field">
          <i class="fas fa-search"></i>
          <%= text_field_tag :q, params[:q], class: "input-field" %>
        </div>


        <%= select_tag(:c, options_from_collection_for_select(@categories, :id, :category), {:style => "padding: 0.5rem; border-radius: 8px; "} )%>

        <button id="button-valid">Valider</button>

      <% end %>


  </div>



  <div id="projects-index-wrap">

    <div id="projects-index">
      <% @projects.each do |project| %>
        <%= link_to project_path(project) do %>
          <%= render 'shared/project-card', project: project %>
        <% end %>
      <% end %>
    </div>
  </div>


</div>






