
<div class="project-show-page-wrap">
  <div class="big-project-card-wrap">
    <%= render 'shared/big-project-card', project: @project %>
  </div>

  <div class="project-show-contributor-wrap">
    <div class="project-show-list-top">
      <h2>Contributeur:</h2>
      <% if policy(@project).update_roles? %>
        <%= link_to 'Modifier', edit_roles_project_path(@project), class: 'button-select' %>
      <% end %>
    </div>

    <% @project.users.each do |user| %>
          <%= render 'shared/small-user-card', user: user %>
    <% end %>
  </div>


  <div class="project-show-comment-wrap">
    <div class="project-show-list-top">
      <h2>Commentaires:</h2>
      <%= link_to 'Laisser un commentaire', new_project_comment_path(@project), class: 'button-select' %>
    </div>

    <div class="project-show-comment">
      <% if @project.comments.any? %>
          <% @project.comments.each do |comment| %>
              <%= render 'shared/comment-card', comment: comment %>
          <% end %>
      <% end %>
    </div>


  </div>


</div>






