<!DOCTYPE html>
<html>
  <head>
    <title>EcoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <div id="nav-bar">
      <div class="nav-bar-left">
        <%= link_to 'Home', projects_path  %>
        <% admins_only do %>
          <%= link_to 'Admin', admin_root_path %>
        <% end %>
        <%= link_to 'Mon profil', user_path(current_user)  %>
      </div>
      <div class="nav-bar-right">
        <% if user_signed_in? %>
          <%= link_to 'se deconecter', destroy_user_session_path %>
          <div class="current-user">
            <%= image_tag(current_user.photo) if current_user.photo.attached? %>
            <p><%= current_user.first_name %></p>
          </div>

        <% else %>
          <%= link_to "s'enregistrer", new_user_registration_path %>
          <%= link_to 'login', new_user_session_path  %>
        <% end %>
      </div>
    </div>

    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
          <%= message %>
      </div>
    <% end %>

    <%= yield %>





  </body>
</html>
