<!DOCTYPE html>
<html>
  <head>
    <title>EcoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="nav-bar">
      <div class="navigation-link">
        <ul>
          <li class="<%= "active" if current_page?("/") %>"><%= link_to 'Home', root_path %></li>
          <% if user_signed_in? %>
            <li class="<%= "active" if current_page?(user_path(current_user)) %>"><%= link_to 'Mon profil', user_path(current_user)  %></li>
          <% end %>
        </ul>
      </div>
      <div class="connect-link">
        <ul>
          <% if user_signed_in? %>
            <li><%= current_user.first_name %></li>
            <li><%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete  %></li>
          <% else %>
            <li><%= link_to "S'enregistrer", new_user_registration_path  %></li>
            <li><%= link_to 'Se connecter', new_user_session_path  %></li>
          <% end %>
        </ul>
      </div>
    </div>


  <% flash.each do |key, message| %>
        <%= message %>
  <% end %>

      <%= yield %>



  </body>
</html>
