<div class="form-wrapper">
  <div class="form">
    <h2>S'enregistrer</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>


      <div class="field">
        <%= f.text_field :first_name, placeholder: 'Prénom', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, placeholder: 'Nom', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.text_field :phone_number, placeholder: 'numéro de téléphone', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.text_field :city, placeholder: 'Ville', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.number_field :zip_code, placeholder: 'Code postal', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.text_field :country, placeholder: 'Pays', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.text_field :url_linkedin, placeholder: 'URL Linkedin', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Adresse mail', class: 'form-field' %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Mot de passe', class: 'form-field' %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmation du mot de passe', class: 'form-field' %>
      </div>

      <div class="actions">
        <%= f.submit "Valider", id: 'button-valid' %>
      </div>
    <% end %>


    <%= render "users/shared/links" %>
  </div>
</div>

